<form action="/add_bookmark" method="post">
<input type="text" name="title" placeholder="Enter title">
<input type="text" name="url" placeholder="Enter url">
<input type="submit" value="Add bookmark">
</form>

<a href="http://www.makers.tech">Makers Academy</a><br>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark[1] %>"><%= bookmark[0] %></a></li>
  <% end %>
</ul>

